doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title zoom
    body 
        header
            h1 ZOOM 
        main       
            div#welcome
                form
                    input(type="text" placeholder="room name" required)
                    button Enter Room
            div#call
                div#myStream
                    h2
                    video#myFace(autoplay, playsinline width="400" height="300") 
                    button#mute mute
                    button#camera turn off
                    select#selectCamera 
                    video#peerFace(autoplay, playsinline width="400" height="300") 
              
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 